body {
    font-family: Arial;
    background: #111;
    color: white;
    padding: 20px;
}

input,
button {
    padding: 8px;
    margin: 5px;
}

pre {
    background: #222;
    padding: 10px;
    margin-top: 20px;
    max-height: 400px;
    overflow: auto;
}